/* Navbar CSS */

.NavbarCss {
  background: hsl(0, 5%, 84%) !important;
  border-bottom: 3px solid var(--primary-color);
}

/* Navbar CSS */
/* Footer CSS */
.mainFooter {
  background-color: #212529;
  border-top: 3px solid var(--primary-color);
  padding: 20px;  
  color: white;
}

.mainFooter img {
  width: 55px;
  height: 57px;
  margin-right: 20px;
  margin-top: 10px;
}
/* Footer CSS */
